table { width: 85%; }
table, th, td { border: solid 1px #DDD;
    border-collapse: collapse; padding: 2px 3px; text-align: center;
}

style{
    text-align: left;
}

#li{
    margin-left: 800%;
}

.selected {
    background-color: #dc3545;
    color: #FFF;
}


